@import "partials/variables";
@import "partials/mixins";

.panel-heading > h3 {
  margin: 0;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.navbar-fixed-bottom {
  background-color: lighten($card-back, 20%);
  height: 60px;
  padding-top: 20px;
}

.galleries-table {
  font-size: 20px;
  text-align: center;
}

.thumbnail img {
  max-height: 320px;
}

.tab-pane {
  margin-top: 20px;
}

.update-work-row {
  margin-bottom: 100px;
}