// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "partials/variables", "partials/mixins";
// Fancybox2
@import "jquery.fancybox.css";

a:focus, a:hover {
    outline: none;
}

.row {
    margin: 0px;
}

a {
    cursor: pointer;
}

.header-row {
    margin-top: 50px;
}

.navbar-default {
    box-shadow: 0px 0px 8px 1px grey;
}

.language-selector img {
    max-width: 25px;
}

.item {
    margin: 0 auto;
    text-align: center;
}

.item img {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.panel > .panel-heading {
    border-color: $blue!important;
    background-color: $blue!important;
    color: #fff;
}

.services-row {
    padding-top: 50px;
}

.work-kinds table {
    width: 100%;
}

.btn-success {
    background-color: $green;
    border-bottom: 4px solid darken($green, 5%);
}

// basic colors

.primary {
    color: $primary!important;
}

.info {
    color: $info!important;
}

.success{
    color: $success!important;
}

.warning{
    color: $warning!important;
}

.danger{
    color: $danger!important;
}

// social colors

.facebook-btn {
  background-color: $facebook!important;
  color: #fff;
}

.google-btn {
  background-color: $google!important;
  color: #fff;
}

.twitter-btn {
  background-color: $twitter!important;
  color: #fff;
}

.heading-row {
    background-color: $bg-color;
    max-height: 70px;
}

.icon img {
    max-height: 250px;
}

.footer {
    min-height: 200px;
    background-color: $info;
}

.footer div {
    margin-top: 90px;
}

.reach-me {
    background-color: $info;
    min-height: 150px;
    padding-top: 50px;
}
.reach-me h3 {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    padding: 0;
    margin: 4px 0 0 0;
}

// .show {
//     display: block;
//     opacity: 1;
// }

